@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.navs {
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #F6F7F8;

  .links1 {
    display: flex;
    gap: 20px;

    p,a{
      font-family: Proxima Nova;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.92px;
      text-align: left;
      color: #262626;
        &:hover{
            color: #33A0FF;
        }
    }
  }
}

.single {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 52px;

  &__img {

    width: 100%;
    max-width: 400px;
    height: 350px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 5px;
    }
  }

  &__cart {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 70px;

    img {
      width: 75.79px;
      height: 76.25px;
      object-fit: contain;
      border-radius: 8px;
      border: 1px solid rgb(226, 226, 226);
    }
  }

  .txts {
    max-width: 600px;
    padding-left: 53px;

    h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
    }

    .reviews {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-top: 26px;

      p {
        width: 170%;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.49px;
        color: #C1C8CE;
      }

      #p2 {
        width: 1500%;
        color: #33A0FF;
      }

      .line {
        width: 100%;
        height: 2.13px;
        background-color: #F6F7F8;
      }
    }

    .spans {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-top: 30px;

      span:nth-child(1) {
        font-size: 20px;
        font-weight: 700;
        color: #33A0FF;
      }

      span:nth-child(2) {
        font-size: 18px;
        font-weight: 700;
        color: #C1C8CE;
      }

      span:nth-child(3) {
        font-size: 14px;
        font-weight: 700;
        color: #FF0000;
      }
    }

    .single_items {
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;
      gap: 20px;

      .pp, .ppp {
        flex: 1;
        min-width: 150px;

        p {
          font-size: 16px;
          font-weight: 400;
          color: #C1C8CE;

          &:last-child {
            color: #000;
          }
        }
      }
    }

    .lineth {
      width: 100%;
      height: 2px;
      background: #F6F7F8;
      margin-top: 20px;
    }

    .colors {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-top: 6px;

      p {
        font-size: 16px;
        font-weight: 400;
        // color: #C1C8CE;
      }
    }

    .size {
      display: flex;
      gap: 30px;
      padding-top: 13px;

      p {
        font-size: 16px;
        font-weight: 400;
        // color: #C1C8CE;
      }

      select {
        width: 200px;
        outline: none;
        padding: 9px 20px;
        background: #fff;
        border: 1px solid #C1C8CE;
        border-radius: 5px;
      }

    }

    .btns {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      padding-top:70px;
      padding-bottom: 35px;

      .inc {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          background: #33A0FF;
          border: none;
          border-radius: 5px;
          padding: 6px 10px;
          color: #fff;
          font-size: 20px;
        }

        span {
          font-size: 20px;
        }
      }

      .cas {
        display: flex;
        gap: 12px;

        button {
          display: flex;
          align-items: center;
          gap: 8px;
          background: #33A0FF;
          border: none;
          border-radius: 5px;
          padding: 8px 20px;
          color: #fff;
          font-size: 16px;

          &:nth-child(2) {
            background: #fff;
            color: #33A0FF;
            border: 1px solid #33A0FF;
          }
        }
      }
    }

    .socialmedia {
      display: flex;
      gap: 12px;
      padding-top: 20px;

      button {
        background:#385C8E;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 5px;
         svg{
            font-size: 26px;
         }
      }
      #b3{
        background: #03A9F4;
      }
    }
  }
}

.mySwiper{  
    max-width: 283px;
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
     overflow: hidden;
        .swiper-pagination-bullet:nth-child(1){
            width: 30px;
            height: 4px;
            background-color: blue;
     
        }
        .swiper-pagination-bullet:nth-child(2){
            width: 30px;
            height: 4px;
            background-color: rgb(41, 41, 219);
     
        }
        .swiper-pagination-bullet:nth-child(3){
            width: 30px;
            height: 4px;
            background-color: blue;
     
        }
        .swiper-pagination-bullet:nth-child(4){
            width: 30px;
            height: 4px;
            background-color: blue;
     
        }
    }
    .alr{
        border: 3px solid #F6F7F8;
        margin-top: 40px;
        
      
        img{
            max-width: 283.75px;
            width: 100%;
            height: 239.68px;
            border-radius: 5px 0px 0px 0px;
            // margin-top: 40px;
            
        }
        .ikon{
            display:flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            .ikon_all{
                color:yellow;

            }
        }
        p{
            text-align: center;
            font-family: Proxima Nova;
font-size: 16px;
font-weight: 400;
line-height: 19.49px;
color: #FF4858;
margin-top: 20px;
padding-bottom: 40px;


span{
    font-family: Proxima Nova;
font-size: 16px;
font-weight: 400;
line-height: 19.49px;
text-align: left;
color: #C1C8CE;
padding: 0 10px;

}
        }
     
    }
}


.teex {
    max-width: 924.58px;
    width: 100%;
    height: 382.8px;
    top: 616.2px;
    left: 1.59px;
    gap: 0px;
    opacity: 0px;
    background: #FAFAFB;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
    margin-top: 30px;
  }
  
  .teex::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  .teex::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
  }
  
  .teex::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar */
    border-radius: 4px; /* roundness of the scrollbar */
  }
  
  .teex::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar on hover */
  }
  
  .navs1 {
    display: flex;
    align-items: center;
    gap: 78px;
    padding-bottom: 52px;
    padding-top: 20px;
  }
  
  .navs1 p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
  }
  
  .navs1 p:hover {
    color: #2E90E5;
  }
  
  .lrr {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.5px;
    color: #9098B1;
  }
  
#sen{
  text-align: center;
  font-family: Poppins;
font-size: 35px;
font-weight: 600;
line-height: 52.5px;
padding-top: 77px;
margin-bottom: 70px;
}
  .Wrapper__product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 33px;
    
    .product__cart {
      max-width:299.5px;
      width: 100%;
      height: 370px;
      border-radius: 5px;
      border: 1px solid rgb(255, 243, 243);
      text-align: center;
      transition: 0.3s ease;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      position: relative;
  
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: 0.3s ease;
        .like {
          opacity: 0.90;
          transition: 0.3s ease;
        }
     
        #btn_cart {
          opacity: 0;
          transition: 0.3s ease;
        }
      }
  
      #btn_cart {
        width: 64px;
        height: 33px;
        color: #fff;
        border: none;
        background: #ff4858;
        border-radius: 15px;
        position: absolute;
        left: 5px;
        top: 10px;
        cursor: pointer;
        opacity: 1;
        transition: 0.3s ease;
      }
  
      img {
        width: 250px;
        height: 240px;
        border-radius: 5px;
        object-fit: contain;
        padding: 5px;
      }
  
      h3 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #223263;
        padding-left: 30px;
        padding-top: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-decoration: none !important;
      }
  
      #re {
        width: 153.6px;
        height: 15.14px;
        padding: 0px;
      }
  
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
  
        span:nth-child(1) {
          color: #40bfff;
          font-family: Poppins;
          font-size: 18px;
          font-weight: 700;
          line-height: 32.4px;
          letter-spacing: 0.5px;
          text-align: left;
        }
  
        span:nth-child(2) {
          color: #9098b1;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.5px;
          text-align: left;
          text-decoration: line-through;
        }
  
        span:nth-child(3) {
          color: #fb7181;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: 0.5px;
          text-align: left;
        }
      }   
    }
  } 




























@media (max-width: 768px) {
  .single {
    flex-direction: column;
    align-items: center;

    &__img {
      max-width: 100%;
    }

    .txts {
      padding-left: 0;
      text-align: center;

      .reviews .line, .lineth, .size .liner {
        width: 100%;
      }

      .single_items {
        .pp, .ppp {
          text-align: center;
        }
      }
    }
  }

  .single_week .mySwiper {
    width: 100%;
  }
}
