@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.Paymet {
  position: absolute;
  top: 145px;;
  background: #fff;
  border-radius: 15px;
  max-width: 800px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  .pay__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    svg {
      font-size: 26px;
      color: #40BFFF;
    }

    p {
      font-size: 26px;
      width: 25px;
      height: 25px;
      font-weight: 600;
      color: #40BFFF;
      cursor: pointer;
    }
  }

  #makep {
    font-size: 32px;
    font-weight: 600;
    color: #40BFFF;
    text-align: center;
    margin-bottom: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    
    .make__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
      width: 100%;

      .fristsection, .secondsection {
        flex:1;
        min-width: 300px;

        input, textarea {
          width: 90%;  
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 10px;
          border: 1px solid #ccc;
          outline: none;
          background-color: #fffbfb;
          resize: none;
        }

        textarea {
          height: 100px;
        }

        p {
          font-size: 20px;
          font-weight: 600;
          color: #40BFFF;
          margin-bottom: 10px;
        }
      }

      .selww {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 14px;
          font-weight: 700;
          color: #223263;
          display: flex;
          justify-content:space-between;
          align-items: center;
          background: #EBF0FF;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 10px;
            span{
              display: flex;  
              align-items: center;
            }
          svg {
            font-size: 24px;
            color: #1565C0;
            margin-right: 10px;
          }
        }
      }
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      background-color: #40BFFF;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #3393cc;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .make__inputs {
    gap: 10px;
  }
}

@media screen and (max-width: 700px) {
  .make__inputs {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .make__inputs {
    gap: 5px;
  }
}
