@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Container {
  max-width: 800px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.Paymet {
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 10px;
  max-width:890px !important; 
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 100;
  .pay__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    svg {
      font-size: 24px;
      color: #40BFFF;
    }

    p {
      font-size: 24px;
      width: 24px;
      height: 24px;
      font-weight: 600;
      color: #40BFFF;
      cursor: pointer;
    }
  }

  #makep {
    font-size: 28px;
    font-weight: 600;
    color: #40BFFF;
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .make__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 15px;
      width: 100%;

      .fristsection, .secondsection {
        flex: 1;
        min-width: 280px;

        input, textarea {
          width: 100%;
          height: 50px;
          padding: 8px;
          margin-bottom: 15px;
          border-radius: 8px;
          border: 1px solid #ccc;
          outline: none;
          background-color: #fffbfb;
          resize: none;
        }

        textarea {
          height: 120px;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          color: #40BFFF;
          margin-bottom: 10px;
        }
      }

      .selww {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 14px;
          font-weight: 700;
          color: #223263;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #EBF0FF;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 8px;

          span {
            display: flex;
            align-items: center;
          }

          svg {
            font-size: 22px;
            color: #1565C0;
            margin-right: 8px;
          }
        }
      }
    }

    button {
      padding: 10px 16px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      background-color: #33A0FF;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 20px;

      &:hover {
        background-color: #3393cc;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .make__inputs {
    gap: 10px;
  }
}

@media screen and (max-width: 700px) {
  .make__inputs {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .make__inputs {
    gap: 5px;
    flex-direction: column;

    .fristsection, .secondsection {
      min-width: 100%;

      input, textarea {
        width: 100%;
        padding: 6px;
        margin-bottom: 10px;
      }
    }
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
